    {% extends 'mainTemplate.html' %}

    {% block content %}
    <form method="post"  enctype="multipart/form-data">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <u>{% if action=="set" %} Modification {% else %} Ajout {% endif %} 
                    {% if type=="album" %}d'un album:
                    {% elseif type=="artist" %}d'un artiste:
                    {%elseif type=="genre"%}d'un genre:
                    {%else%}d'une musique:
                    {% endif %}
                </u></div>
            <div class="panel-body">
                <ul class="list-group">
                    {% if type=="album" %}
                    <li class="list-group-item"><label>Titre :</label><input type="text"{% if action=="set" %} value="{{ album.infos.title }}" {%endif%} name = "title" class="form-control" required></li>
                    <li class="list-group-item"><label>Date de sortie :</label><input type="date" {% if action=="set" %} value="{{ album.infos.release_date }}" {%endif%} name="release_date" class="form-control"></li>
                    <li class="list-group-item"><label>Genre(s) :</label><select multiple class="form-control" name="genres[]">
                    {% for all in genres %}
                        <option value="{{ all.infos.key }}" 
                        {% if action=="set" %}
                            {% for genres in album.genres %}
                                {% if all.infos.key==genres.infos.key %}
                                selected="selected"
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        >{{ all.infos.name}}</option>
                    {% endfor %}
                    </select></li>
                    <li class="list-group-item"><label>Image de l'album :</label><input type="file" name="upload" accept="image/*"></li>
                    {% elseif type=="artist" %}
                    <li class="list-group-item"><label>Nom :</label><input type="text"{% if action=="set" %} value="{{ artist.infos.name }}" {%endif%} name = "name" class="form-control" required></li>
                    <li class="list-group-item"><label>Image de l'artiste :</label><input type="file" name="upload" accept="image/*"></li>
                    {% elseif type=="genre" %}
                    <li class="list-group-item"><label>Nom :</label><input type="text"{% if action=="set" %} value="{{ genre.infos.name }}" {%endif%} name = "name" class="form-control" required></li>
                    <li class="list-group-item"><label>Image du genre :</label><input type="file" name="upload" accept="image/*"></li>
                    {% else %}
                    <li class="list-group-item"> <label>Numéro :</label><input type="number"{% if action=="set" %} value="{{ track.infos.num }}" {%endif%} min="0" name="num" class="form-control"></li>
                    <li class="list-group-item"><label>Titre :</label><input type="text"{% if action=="set" %} value="{{ track.infos.title }}" {%endif%} name="title" class="form-control" required></li>
                    <li class="list-group-item">
                    <label>Durée :</label>
                    <div class="input-group">
                      <span class="input-group-addon">Minutes : </span>
                      <input type="number"{% if action=="set" %} value="{{ track.infos.duration.min }}" {%else%} value="0"{%endif%} name="duration_min" class="form-control" min="0">
                      <span class="input-group-addon">Secondes : </span>
                      <input type="number"{% if action=="set" %} value="{{ track.infos.duration.sec }}" {%else%} value="0" {%endif%} name="duration_sec" class="form-control" max="59" min="0">
                    </div>
                    </li>
                    <li class="list-group-item"><label>Fichier de musique :</label><input type="file" name="upload" accept="audio/*"></li>
                    {% endif %}
                </ul>
                <input type="submit" class="btn btn-primary pull-right" style="padding-right=20px; padding-top=20px;" value="OK">
            </div>
        </div>
    </form>

    {% endblock content %}