{% extends 'mainTemplate.html' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading"><h4><u>Album :</u> {{ album.infos.title }}</h4></div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object img-thumbnail" src="{% if album.infos.cover is defined  %} {{ album.infos.cover }} {%endif%}" alt="{{album.infos.title}}" width="125" height="125">
                {% if admin==true %}
                <div class="btn-group pull-right" role="group">
                <button class="btn btn-danger center-block" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}album/{{album.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-warning center-block" type="reset" onclick="location.href='{{url}}album/{{album.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>
                {% endif %}
            </div>
            <div class="media-body">
                <ul class="list-group"> 
                    <li class="list-group-item">Artiste : <a href="{{ url }}artist/{{ album.artist.infos.key }}">{{ album.artist.infos.name }}</a></li>
                    <li class="list-group-item">Nombre de Pistes : {% if album.tracks is defined %} {{ album.tracks | length }} {% else %} 0 {% endif %}</li>
                    <li class="list-group-item">Durée de l'album : {% if album.infos.duration is defined  %} {{ album.infos.duration.min }} min {{ album.infos.duration.sec }} s {%else%} 0 {%endif%}</li>
                    <li class="list-group-item">Date de sortie : {{ album.infos.release_date }}</li>
                </ul>
            </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="padding-top=10px;">
            <div class="panel panel-default">
            {% if album.genres is not empty %}
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Musiques
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table class="table">
                            <tr class="active">
                                <th>N°</th>
                                <th>Piste</th>
                                <th>Durée</th>
                                <th>Extrait</th>
                                {% if admin==true %}
                                <th></th>
                                {% endif %}
                            </tr>
                            {% if album.tracks is defined %}
                            {% for track in album.tracks %}
                            <tr>
                                <td>{{ track.infos.num }}</td>
                                <td style="width:60%;">{{ track.infos.title }}</td>
                                <td>{{ track.infos.duration.min}} min {{ track.infos.duration.sec}} s</td>
                                <td><button type="button" data-music="{% if track.infos.preview is defined %}{{ track.infos.preview }}{%endif%}" onclick="musicManager(this)"><span class="glyphicon glyphicon-play"></span></td>
                                  {% if admin==true %}
                                <td>
                                <div class="btn-group pull-right" role="group">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}track/{{track.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button class="btn btn-warning" type="reset" onclick="location.href='{{url}}track/{{track.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                        {% if admin==true %}
                          <button class="btn btn-primary" type="reset" onclick="location.href='{{url}}album/{{album.infos.key}}/add'" ><span class="glyphicon glyphicon-plus-sign"></span> Ajouter Musique</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseThree">
                             Genres 
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse{%if album.tracks is defined%}{% if album.tracks is empty %} in{% endif %}{%endif%}" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <table class="table">
                            <tr class="active">
                                <th>Image</th>
                                <th>Genre</th>
                            </tr>
                            {% for genre in album.genres %}
                            <tr>
                                <td><img class="img_result img-thumbnail" src="{% if genre.infos.picture is defined %}{{ genre.infos.picture }}{%endif%}" alt="{{genre.infos.name}}"/></td>
                                <td>{{ genre.infos.name }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

     {% if admin==true %}
           <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><u>Suppression ?<u></h4>
                    </div>
                    <form id="form" method="post">
                        <div class="modal-body">
                            <div class="input-group">
                                <label>Etes-vous sur de vouloir supprimer?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="supp">Oui</a>
                            <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <script type="text/javascript" src="{{ url }}js/modal.js"></script>

    {% endblock content %}