{% extends 'mainTemplate.html' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading"><h4><u>Artiste :</u> {{ artist.infos.name }}</h4></div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object img-thumbnail" src=" {% if artist.infos.picture is defined  %} {{ artist.infos.picture }} {% endif %}" alt="{{artist.infos.name}}" width="125" height="125">
                {% if admin==true %}
                 <div class="btn-group pull-right" role="group">
                  <button class="btn btn-danger center-block" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}artist/{{artist.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                  <button class="btn btn-warning center-block" type="reset" onclick="location.href='{{url}}artist/{{artist.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                  </div>
                 {% endif %}
            </div>
            <div class="media-body"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Albums de l'artiste</h3>
                    </div>
                    <div class="panel-body">
                        {% if artist.albums is defined %}
                        <table class="table">
                            <tr class="active">
                                <th>Pochette</th>
                                <th>Nom</th>
                                <th>Nb pistes</th>
                                <th>Date de sortie</th>
                                <th>Durée</th>
                                {% if admin==true %}
                                <th></th>
                                {% endif %}
                            </tr>
                            {% for album in artist.albums %}
                            <tr>
                                <td><img class="img_result img-thumbnail" src="{% if album.infos.cover is defined %}{{ album.infos.cover }}{%endif%}" alt="{{album.infos.title}}" /></td>
                                <td><a href="{{ url }}album/{{ album.infos.key}}">{{ album.infos.title }}</a></td>
                                <td>{% if album.tracks is defined %} {{ album.tracks | length}} {%else%} 0 {%endif%}</td>
                                <td>{{ album.infos.release_date}}</td>
                                <td>{% if album.infos.duration is defined %}{{ album.infos.duration.min }} min {{ album.infos.duration.sec}} s{%endif%}</td>
                             {% if admin==true %}
                                <td style="width:20%;">
                                <div class="btn-group pull-right" role="group">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}album/{{album.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button class="btn btn-warning" type="reset" onclick="location.href='{{url}}album/{{album.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                        {% if admin==true %}
                          <button class="btn btn-primary" type="reset" onclick="location.href='{{url}}artist/{{artist.infos.key}}/add'"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter Album</button>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% if admin==true %}
           <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><u>Suppression ?<u></h4>
                    </div>
                    <form id="form" method="post">
                        <div class="modal-body">
                            <div class="input-group">
                                <label>Etes-vous sur de vouloir supprimer?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="supp">Oui</button>
                            <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    <script type="text/javascript" src="{{ url }}js/modal.js"></script>

    {% endblock content %}