{% extends 'mainTemplate.html' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading"><h4><u>Gestion des Genres :</u></h4></div>
    <div class="panel-body">
        <table class="table">
            {% for g in genre %}
                <tr>
                    <td><img class="img_result img-thumbnail" src="{% if g.infos.picture is defined %}{{ g.infos.picture }}{%endif%}" alt="{{g.infos.name}}"/></td>
                    <td><label>{{ g.infos.name }}</label></td>
                    <td> <div class="btn-group pull-right" role="group">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}genre/{{g.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-warning" type="reset" onclick="location.href='{{url}}genre/{{g.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-primary" type="reset" onclick="location.href='{{url}}services/genre/{{g.infos.key}}/xml'"><span class="glyphicon glyphicon-export"></span> Export XML</button>
                    </div></td>
                </tr>
            {% endfor %}
            </table>
        </ul>
        <div>
            <button class="btn btn-primary" type="reset" onclick="location.href='{{url}}genre/all/add'"><span class="glyphicon glyphicon-plus-sign"></span> Genre</button>
        </div>
    </div>
</div>

    {% if admin==true %}
           <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><u>Suppression ?<u></h4>
                    </div>
                    <form id="form" method="post">
                        <div class="modal-body">
                            <div class="input-group">
                                <label>Etes-vous sur de vouloir supprimer?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="supp">Oui</button>
                            <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    <script type="text/javascript" src="{{ url }}js/modal.js"></script>

    {% endblock content %}