{% extends 'mainTemplate.html' %}

{% block content %}
<h2><u>Les 10 derniers albums : </u></h2><br/>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for album in albums%}

        {% if loop.index==1 %}
        <div class="item active">
            {% else %}
            <div class="item">
                {% endif %}
                <img src="{{ url }}views/fond.png" alt="Erreur Image Caroussel" class="img-thumbnail">
                <div class="carousel-caption">
                    <img src="{% if album.infos.cover is defined %}{{ album.infos.cover }}{%endif%}" alt="Erreur Image Album" class="img-rounded" width="30%" height="30%"><br/>
                    <h3>{%if album.artist.infos.name is defined %}{{ album.artist.infos.name }} {%endif%} - {%if album.infos.title is defined %}{{ album.infos.title }}{%endif%} </h3>
                    <p><a href="album/{%if album.infos.key is defined %}{{ album.infos.key }}{%endif%}" class="btn btn-default">Description de l'Album</a></p>
                    <br/>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br/>
    <div class="well">
        <p>
            Ce projet PHP "MusicProject" a été réalisé en collaboration par :
        <ul>
            <li>M. Rudy Gigout</li>
            <li>M. Jean-Eric Nicolas</li>
            <li>M. Guillaume Mangeot</li>
        </ul>
        </p>
    </div>

    {% endblock content %}