<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Projet PHP : Music Store</title>

        <script type='text/javascript' src="{{ url }}js/jquery-1.11.3.min.js"></script>
        <link href="{{ url }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url }}css/slider.css" rel="stylesheet">
        <link href="{{ url }}css/dashboard.css" rel="stylesheet">

    </head>

    <body>

        <audio id="player" class="sr-only"></audio>
        
        <form action="{{ url }}search" onsubmit="return disable_search()" method="get">
            <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url }}"><span class="glyphicon glyphicon-equalizer"></span>MusicProject</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="navbar-form row" role="search">
                            <div class="form-group" style="display:inline;">
                                <div class="input-group col-md-8">
                                    <input name="keyword" id="keyword" type="text" class="form-control" placeholder="Rechercher">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                            {% if admin==false %}
                            <a class="btn btn-primary navbar-right" data-toggle="modal" data-target="#modalAdmin"><span class="glyphicon glyphicon-wrench"></span> Admin</a>
                            {% endif %}

                            {% if admin==true %}
                             <a class="btn btn-primary navbar-right" href="{{url}}disconnection"><span class="glyphicon glyphicon-remove"></span> Déconnexion</a>
                            {% endif %}

                        </div>
                    </div> 
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-3 sidebar">
                        <div id="horizontal-menu">
                            <ul  class="nav nav-sidebar">
                                <li class="active">
                                    <a><span class="glyphicon glyphicon-tasks"></span> Recherche Avancée : <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="input_checkbox">
                                    <label class="checkbox" >
                                        <input type="checkbox" name="checkMusic" id="checkMusic" value="music" checked> Musique
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkArtist" id="checkArtist" value="artist" checked> Artiste
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkAlbum" id="checkAlbum" value="album" checked> Album    
                                    </label>
                                </li>
                                <li class="input_search">
                                    <label><input type="checkbox" name="checkGenre" id="checkGenre" value="checkGenre"> Genre :</label><br/>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default active_genre" id="plus">+</button>
                                        </span>
                                        <select name="genre[1]" id="genre1" class="form-control active_genre">
                                            {% for genre in genres %}
                                            <option value="{{ genre.infos.key}}">{{ genre.infos.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="fields_genre">
                                    </div>
                                    <br/>
                                </li>
                                <li class="input_search active_year">
                                    <label><input type="checkbox" name="checkYear" id="checkYear" value="checkYear"> Année :</label><br/>
                                    <div class="input-group interval">
                                        <span class="check">
                                            <input type="radio" id="year_radio" name="choice_year" value="value" checked>
                                        </span>
                                        <input id="year" name="year" data-slider-id='yearSlider' type="text" data-slider-min="{{ bounds.min }}" data-slider-max="{{ bounds.max }}" data-slider-step="1" data-slider-value="0"/>
                                    </div>
                                    <br/>
                                    <div class="input-group interval">
                                        <span class="check">
                                            <input id="interval_year_radio" type="radio" name="choice_year"  value="interval" class="btn btn-primary-default">
                                        </span>
                                        <input id="interval_year" name="interval_year" data-slider-id='intervalSlider_Annee' type="text" class="span2" data-slider-min="{{ bounds.min}}" data-slider-max="{{ bounds.max}}" data-slider-step="1" data-slider-value="[{{ bounds.min + 10 }},{{ bounds.max - 10 }}]"/>
                                    </div>
                                    <br/>
                                </li>
                                
                                {% if admin==true %}
                                <li>
                                <button class="btn btn-primary center-block" type="reset" onclick="location.href='{{ url }}artist/new/add'"><span class="glyphicon glyphicon-plus-sign"></span> Créer Artiste</a>
                                </li>
                                <li>
                                <button class="btn btn-primary center-block" type="reset" onclick="location.href='{{ url }}genre/all'"><span class="glyphicon glyphicon-edit"></span> Gestion Genres</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    </form>
                    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        <!-- Admin Modal -->
        <div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Connexion Admin</h4>
                    </div>
                    <form action="{{url}}connection" method="post">
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-addon" >Mot de Passe : </span>
                                <input type="password" class="form-control" name="pass">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type='text/javascript' src="{{ url }}bootstrap/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="{{ url }}js/slider.js"></script>
        <script type='text/javascript' src="{{ url }}js/dashboard.js"></script>
        <script type='text/javascript' src="{{ url }}js/player.js"></script>

    </body>
</html>
