{% extends 'mainTemplate.html' %}

{% block content %}

<h1>Résultats de la recherche :</h1>

{% if infos.artists is empty and infos.albums is empty and infos.tracks is empty %}
<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Aucun résultat ne correspond à votre recherche</div>
{% endif %}


<div class="panel-group" id="accordion" role="tablist" >
    <div class="panel panel-primary" {% if infos.artists is empty %} hidden {% endif %}>
         <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
                    Artistes
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse{% if infos.artists is not empty %} in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table">
                    <tr class="active">
                        <th>Image</th>
                        <th>Nom</th>
                        {% if admin==true %}
                        <th></th>
                        {% endif %}
                    </tr>
                    {% for artist in infos.artists %}
                    <tr>
                        <td><img class="img_result img-thumbnail" src="{{ artist.infos.picture }}" alt="{{ artist.infos.name }}"/></td>
                        <td><a href="{{ url }}artist/{{ artist.infos.key}}">{{ artist.infos.name }}</a></td>
                        {% if admin==true %}
                        <td style="width:20%;">
                            <div class="btn-group pull-right" role="group">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}artist/{{artist.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-warning" type="reset" onclick="location.href='{{url}}artist/{{artist.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" {% if infos.albums is empty %}hidden{% endif %}>
         <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Albums
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse{% if infos.artists is empty and infos.albums is not empty%} in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <table class="table">
                    <tr class="active">
                        <th>Pochette</th>
                        <th>Nom</th>
                        <th>Artiste</th>
                        <th>Nombre de pistes</th>
                        <th>Date de sortie</th>
                        {% if admin==true %}
                        <th></th>
                        {% endif %}
                    </tr>
                    {% for album in infos.albums %}
                    <tr>
                        <td><img class="img_result img-thumbnail" src="{{ album.infos.cover }}" alt="{{ album.infos.title }}"/></td>
                        <td><a href="{{ url }}album/{{ album.infos.key}}">{{ album.infos.title }}</a></td>
                        <td><a href="{{ url }}artist/{{ album.artist.infos.key}}">{{ album.artist.infos.name}}</a></td>
                        <td>{{ album.tracks | length}}</td>
                        <td>{{ album.infos.release_date}}</td>
                        {% if admin==true %}

                        <td style="width:15%;">
                            <div class="btn-group pull-right" role="group">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}album/{{album.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-warning" type="reset" onclick="location.href ='{{url}}album/{{album.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                        </td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" {% if infos.tracks is empty %}hidden{% endif %}>
         <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Musiques
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse{% if infos.artists is empty and infos.albums is empty and infos.tracks is not empty %} in{% endif %}" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <table class="table">
                    <tr class="active">
                        <th>Piste</th>
                        <th>Artiste</th>
                        <th>Album</th>
                        <th>Durée</th>
                        <th>Extrait</th>
                        {% if admin==true %}
                        <th></th>
                        {% endif %}
                    </tr>
                    {% for track in infos.tracks %}
                    <tr>
                        <td>{{ track.infos.title }}</td>
                        <td><a href="{{ url }}artist/{{ track.album.artist.infos.key}}">{{ track.album.artist.infos.name }}</a></td>
                        <td><a href="{{ url }}album/{{ track.album.infos.key}}">{{ track.album.infos.title }}</a></td>
                        <td>{{ track.infos.duration.min}} min {{ track.infos.duration.sec}} s</td>
                        <td {% if admin==true %}style="width:5%;"{% endif %}><button type="button" data-music="{{ track.infos.preview }}" onclick="musicManager(this)"><span class="glyphicon glyphicon-play"></span></td>
                        {% if admin==true %}
                        <td style="width:15%;">
                            <div class="btn-group pull-right" role="group">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ url }}track/{{track.infos.key}}/del"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-warning" type="reset" onclick="location.href ='{{url}}track/{{track.infos.key}}/set'"><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% if admin==true %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><u>Suppression ?<u></h4>
                            </div>
                            <form id="form" method="post">
                                <div class="modal-body">
                                    <div class="input-group">
                                        <label>Etes-vous sur de vouloir supprimer?</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="supp">Oui</a>
                                        <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Non</button>
                                </div>
                            </form>
                            </div>
                            </div>
                            </div>
                            {% endif %}

                            <script type="text/javascript" src="{{ url }}js/modal.js"></script>

                            {% endblock content %}